<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foodMapper">

	<sql id="restaurentColumn">
		<!-- RESTAURANT_NAME ADDRESS CATEGORY content_CODE restaurantName addr 
			category contentCode -->
		content_code,restaurant_name,restaurant_address,category,restaurant_info,restaurant_pic,id
	</sql>

<!-- 	<resultMap type="kosta.web.model.vo.restaurant.RestaurentVo" id="restaurentSelectMap">
		<id column="content_CODE" property="contentCode" />
		<result column="RESTAURANT_NAME" property="restaurantName" />
		<result column="ADDRESS" property="addr" />
		<result column="CATEGORY" property="category" />
content_code varchar2(30) constraint content_code_ri_pk primary key,
  restaurant_name varchar2(30),
  restaurant_address varchar2(50),
  category varchar2(50),
  restaurant_info varchar2(2000),
  restaurant_pic varchar2(50),
  id constraint id_restaurant_info_fk references usertable(id)
	</resultMap> -->


	<!-- 맛집정보 등록하기 -->
	<insert id="restaurantInsert" parameterType="restaurentVo">
		insert into Restaurant_INFO(
		<include refid="restaurentColumn" />
		)
		values (#{contentCode},#{restaurantName}, #{restaurantAddr}, #{category}, #{restaurantInfo},#{restaurantPic},#{id})
	</insert>

	<!-- 맛집정보 확인하기 -->
	<select id="selectByRestaurant" parameterType="String"
		resultType="kosta.web.model.vo.restaurant.RestaurentVo">
		select 	CONTENT_CODE , RESTAURANT_NAME , RESTAURANT_ADDRESS , CATEGORY, RESTAURANT_INFO, RESTAURANT_PIC , ID
		from Restaurant
		<where>
			<if test="_parameter!=null">
				CONTENT_CODE = #{_parameter}
			</if>
		</where>
	</select>
	
	
	<!-- content_CODE, RESTAURANT_NAME, ADDRESS, CATEGORY,id -->
	<!-- 맛집 수정하기 -->
	<update id="updateRestaurant" >
	update Restaurant_INFO
		   set RESTAURANT_NAME = ${restaurantName},
		   		 RESTAURANT_ADDRESS = ${restaurantAddr},
		   		 CATEGORY = ${category},
		   		 Restaurant_INFO = ${restaurantInfo},
		   		 restaurant_pic = ${restaurantPic}
	 where content_CODE=${contentCode}
	</update>
	
	
	<!-- 맛집 삭제하기-->
	<delete id="deleteRestaurant" parameterType="String">
		delete Restaurant_INFO where content_CODE=#{_parameter}
	</delete>
	
	
	
	
</mapper>

