<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lookgoodBoardMapper">

<resultMap type="LookgoodBoardVo" id="selectMap">
	<id column="id" property="id"/>
	<result column="lgb_num" property="lgbNum"/>
	<result column="lgb_title" property="lgbTitle"/>
	<result column="lgb_date" property="lgbDate"/>
	<result column="lgb_cont" property="lgbCont"/>
</resultMap>

	<!-- 게시글 검색(전체) -->
	<select id="boardSelect" resultMap="selectMap">
		select lgb_num, lgb_title, lgb_date, id
		from Lookgood_Board
	</select>
	
	<!-- 글번호검색 -->
	<select id="boardSelectByNum" resultMap="selectMap" parameterType="int">
		select lgb_num, lgb_title, lgb_date, id, lgb_cont
		from Lookgood_Board
		where lgb_num=#{_parameter}
	</select>
	
	<!-- 글삭제 -->
	<delete id="boardDelete" parameterType="int">
		delete from Lookgood_Board
		where lgb_num=#{_parameter}
	</delete>
	
	<!-- 글작성 -->
	<insert id="boardInsert" parameterType="LookgoodBoardVo" >
		insert into Lookgood_Board (lgb_title, lgb_cont, id)
		value(#{lgbTitle}, #{lgbCont}, #{id} )
	</insert>
</mapper>