<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LookAvgScoreMapper">
<resultMap type="AvgScoreVo" id="avgScoreMap">
	<id column="id" property="id"/>
	<result column="content_code" property="contentCode"/>
	<result column="score" property="score"/>
	<result column="wish_list" property="wish_list"/>
</resultMap>

<!-- 별점등록 -->
<insert id="insertScore" parameterType="AvgScoreVo">
	insert into avg_score (id, content_code, score)
	values(#{id}, #{contentCode}, #{score})
</insert>

</mapper>