<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">



	<sql id="userColumn">
	id, password, tell, user_pic
	</sql>
	<resultMap type="kosta.web.model.vo.UserVo" id="userVo">
		<id column="MEMBER_ID" property="id" />
		<result column="USER_PIC" property="userPic"/>

	</resultMap>

	<select id="selectMemberById" resultMap="userVo">
		select
		<include refid="userColumn" />
		from member where ID=#{_parameter}

	</select>
	
	<insert id="insertMember" parameterType="kosta.web.model.vo.UserVo">
	insert into member(<include refid="userColumn"/>)
	values(#{id},#{password},#{tell},#{userPic})
	
	
	</insert>

</mapper>