<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travelgeInfoMapper">

	<resultMap type="kosta.web.model.vo.travelge.TravelgeInfoVo" id="selectMap">
		<id column="CONTENT_CODE" property="contentCode" />
		<result column="TRAVELGE_ADDR" property="travelgeAddr" />
		<result column="TRAVELGE_COORDINATES" property="travelgeCoordinates" />
		<result column="TRAVELGE_DESCRIPTION" property="travelgeDescription" />
		<result column="TRAVELGE_NAME" property="travelgeName" />
		<result column="TRAVELGE_REGION" property="travelgeRegion" />
		<result column="TRAVELGE_THEME" property="travelgeTheme" />
		<result column="cnt" property="cnt"/>
<!-- 		<association property="avgScoreVo" javaType="AvgScoreVo">
			<id column="id" property="id" />
			<result column="content_code" property="contentCode" />
			<result column="score" property="score" />
			<result column="wish_list" property="wish_list" />
		</association> -->

	</resultMap>

	
	<select id="travelgeInfoSearch" resultMap="selectMap" parameterType="kosta.web.model.vo.travelge.TravelgeInfoVo">
	
	SELECT * FROM( SELECT T1.*,COUNT(*) OVER() AS CNT 
	FROM( SELECT * FROM TRAVELGE_INFO 
	<where>
	<choose>
	<when test="travelgeRegion!=null and travelgeTheme!=null">TRAVELGE_REGION LIKE '%'||#{travelgeRegion}||'%' and TRAVELGE_THEME  LIKE '%'||#{travelgeTheme}||'%'</when>
	<when test="contentCode!=null">CONTENT_CODE LIKE '%'||#{contentCode}||'%'</when>
	<when test="travelgeName!=null">TRAVELGE_NAME LIKE '%'||#{travelgeName}||'%'</when>
	<when test="travelgeAddr!=null">TRAVELGE_ADDR LIKE '%'||#{travelgeAddr}||'%'</when>
	<otherwise>1=1</otherwise>
	</choose>
	</where>
	) T1) order by content_code
	</select>


</mapper>